---
layout: default
title: Lifesum Engineering
---

<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
      <li class="post">
      	 
      	 <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

       	 <span>{{ post.date | date_to_string }} 

       	 	{% if post.author_url %}
       	 		&#8226; By: <a href="{{ post.author_url }}" target="__blank"> {{ post.author }} </a>  
       	 	{% else %} 
       	 		{% if post.author %}
       	 		&#8226; By: {{ post.author }} 
       	 		{% endif %}
   	 		{% endif %}
        
        &#8226;
        <a class="comment_post" href="{{ post.url }}#disqus_thread">Add Comment</a>.

   	 	</span>
       	 {{ post.content }}
         <div class="end_of_post_sep"></div>
         <a class="comment_post styled_button" href="{{ post.url }}#disqus_thread">Add Comment</a>
  		</li>
    {% endfor %}
  </ul>
</div>