<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <script type="text/javascript" src="//use.typekit.net/vdl8vdq.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">
              <img src="https://dkdgdfek9dzk1.cloudfront.net/web-static/app/img/lifesum-logos/lifesum-Logo_web_grey@2x.png?11f00b3bcdbf" alt="{{ site.name }}"/>
            </a></h1>

            <h3 class="header_sub_title">Tech blog</h3>
            <a href="http://jobs.lifesum.com/jobs" class="base_button" target="__BLANK">We are hiring!</a>
          </div>


          {{ content }}


          <div class="footer">
            <div class="contact">
              <p>
                Lifesum @ Twitter<br />
                Lifesum @ Facebook<br />
                Work @ Lifesum
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://twitter.com/lifesum" target="__BLANK">twitter.com/lifesum</a><br />
                <a href="https://facebook.com/lifesum" target="__BLANK">twitter.com/yourusername</a><br />
                <a href="http://jobs.lifesum.com/" target="__BLANK">jobs.lifesum.com/</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
